git+https://github.com/kubernetes-client/python.git@release-11.0
git+https://github.com/nolar/kopf.git@1.31.0
typing_extensions
iso8601 
python-json-logger
aiohttp<4.0.0
aiojobs
chardet<4.0,>=2.0
async-timeout<4.0,>=3.0
yarl<2.0,>=1.0
attrs>=17.3.0
multidict<5.0,>=4.5
requests>=2.12
idna>=2.0,<3.0
certifi>=2017.4.17
urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
contextvars>=2.4
idna-ssl>=1.1.0
dataclasses>=0.6
