apiVersion: v2
appVersion: "8.0.32-2.0.8"
name: mysql-operator
description: MySQL Operator Helm Chart for deploying MySQL InnoDB Cluster in Kubernetes
type: application
version: "2.0.8"
icon: https://labs.mysql.com/common/themes/sakila/favicon.ico
