apiVersion: v2
appVersion: "8.0.25-2.0.1"
name: mysql-operator
description: MySQL Operator Helm Chart for deploying MySQL InnoDB Cluster in Kubernetes
type: application
version: 0.1.0
icon: https://labs.mysql.com/common/themes/sakila/favicon.ico