apiVersion: v2
appVersion: "8.3.0-2.1.2"
name: mysql-operator
description: MySQL Operator Helm Chart for deploying MySQL InnoDB Cluster in Kubernetes
type: application
version: "2.1.2"
icon: https://www.mysql.com/common/logos/logo-mysql-170x115.png
